/* styles for my website */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

body {
    background: #aba7c0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.current {
    color:white;
}

header {
    background: #aba7c0;
    padding:20px 0;
    
}

.inner-header {
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
}

#logo {
    float:left;
}

nav ul {
    float:right;
    margin-top:30px;

}

nav li {
    float:left;
    margin-left: 30px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}



#wrapper {
max-width: 1200px;
margin: 20px auto;
clear:both;
overflow: hidden;
}



main {
width: 62%;
background: white;
float: left;
padding: 15px;
border: 3px solid #736f85;
}

.comp {
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}

aside {
width: 35%;
background: white;
float: right;
padding: 20px;
border: 3px solid #736f85;
}

footer {
    height: 60px;
    line-height: 60px;
    background: #aba7c0;
    clear: both;
}

footer ul {
    display:flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin:0 15px;
}

img {
    max-width: 100%;
}

/* typography */

p {
    margin-bottom: 20px;
    line-height: 1.4;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    
}

h2 {
    font-size: 2em;
    margin-top: 20px;
}

h3 {
    font-size: 1.5em;
}

h1, h2, h3 {
    margin-bottom: 10px;
    font-family: playfair serif;
}



.daily main {
    padding: 15px;
    
}

.daily h1 {
    font-size: 2.5em;
}

.daily main h3 {
    margin-bottom: 20px;
}

.daily img {
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
}

.daily aside {
    padding: 10px;
    
}

.daily aside li {
    list-style-type: none;
    margin-top: 5px;
}

form {
    
    margin:30px auto;
}

fieldset {
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type=text],
input[type=email],
input[type=tel] {
    width: 100%;
    margin-bottom: 10px;
}

span {
    display: block;
    color: red;
    font-style: italic;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    resize: none;
    height: 80px;
    margin-bottom: 10px;
}

select {
    margin-bottom: 10px;
}

form ul {
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 5px;
}

.thx p {
    text-align: center;
    margin-top: 20px;
}

.thx img {
    display: block;
    margin: 0 auto;
}

.contact img {
    display: block;
    margin: 0 auto;
}

.contact h3 {
    margin-bottom: 20px;
}

table {
    border: 1px solid pink;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 5px;
    display: block;
   } 
 td {
    border: 1px solid pink;
    padding: 5px;
    text-align: center;
 }

 .gallery h1 {
    margin-bottom: 20px;
 }

 .gallery p {
    text-align: center;
    margin-bottom: 20px;
 }

 .project main {
    padding:10px;
    display: block;
    margin-left: 20px;
 }

 .project li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
 }


 .project h2, p, ul {
    margin-left:10px;
 }

 .project p {
    line-height: 1.4;
 }

.animal-view aside {
    margin-right:20px;
    margin-bottom: 40px;
    text-align: center;
    
}



.animal-view aside img {
    display: block;
    margin:0 auto;
   
}

.animal-view main {
    padding:20px;
    width:56%;
    margin-left:15px;
    margin-bottom: 40px;
}

.animal-view p {
    padding:20px;
    line-height: 1.4;
}

.animal-view li {
    list-style-type: none;
    margin-bottom:5px;
}

figcaption {
    margin-top: 15px;
    font-style: italic;
}

.about main {
    height:400px;
    align-items: center;
}

.sql {
    display:block;
    margin-top:20px;
 
}